*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    background-color: #13111A;
}
.footer-container{
    margin-top: 45px;
}
.footer-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.footer-logo{
    width: 20%;
}
.footer-logo img{
    width: 202px;
    height: 216px;
}
.quick-links{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.quick-links h2{
    font-size: 20px;
    line-height: 22px;
    font-weight: 700 ;
}
.quick-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #B7B4C7;

}
.quick-links ul li{
    list-style: none;
    padding: 10px;
}
.footer-right-side{
    text-align: end;
    width: 55%;
}
.social-icons img{
width: 36px;
padding: 0 8px;
}
.footer-newletter{
    padding-top: 122px;
}
.footer-newletter h2{

    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: white;
}
.footer-newletter p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #B7B4C7;
    max-width: 368px;
    margin-left: auto !important;
    padding-top: 8px;
}
.email-subscrive {
    padding-top: 38px;
}
input#email {
    background-color: #1D1A27;
    border: 0;
    width: 340px;
    height: 47px;
    border-radius: 57px;
}
input#email::placeholder {
font-size: 16px;
font-weight: 18px;
font-weight: 500;
color: #B7B4C7;
padding-left: 20px;
}
#subscribe {
    margin: 0 2px;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #A8008A, #F9CA72);
    padding: 10px 20px;
    border-radius: 40px !important;
    color: white;
    background-color: transparent;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}
.copy-right{
    padding-top: 15px;
}
.copy-right p{
font-size: 14px;
line-height: 30px;
font-weight: 500;
color: #B7B4C7;
}
.copy-bold{
    font-weight: 700;
    color: white;
}
@media screen and (max-width: 1024px){
    .quick-links {
        width: 30%;
    }
    .quick-links {
        width: 60%;
    }
    .social-icons img {
        width: 28px;
        padding: 0;
    }
    .footer-right-side {
        text-align: end;
        width: 60%;
        padding-right: 15px;
    }
    input#email {
        width: 290px;
    }
    #subscribe {
 margin-top: 5px;
 padding: 10px 15px;
    }
    .copy-right p {
        line-height: 24px;
    }
}
@media screen and (max-width: 676px){
    .footer-container {
        margin-top: 25px;
    }
    .footer-inner {
        align-items: center;
        padding-bottom: 40px;
        flex-direction: column;
    }
    .footer-logo {
        width: 100%;
        text-align: center;
    }
    .footer-logo img {
        width: 146px;
        height: auto;
    }
    .quick-links {
        width: 100%;
        text-align: center;
    }
    .quick-links a {
        font-size: 16px;
        line-height: 14px;
    }
    .footer-right-side {
        margin-top: 10px;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .social-icons img {
        width: 27px;
        padding: 0 2px;
    }
    .footer-newletter {
        padding-top: 20px;
    }
    .footer-newletter p {
        font-size: 14px;
        line-height: 24px;
        max-width: 100%;
        padding: 8px 15px 0 15px;
    }
    .email-subscrive {
        padding-top: 20px !important;
    }
    .email-subscrive {
        padding-top: 38px;
    }   
    #subscribe {
        margin-top: 10px;
        padding: 12px 15px;
        font-size: 14px;
    }
    .copy-right p {
        line-height: 24px;
        font-size: 14px;
    }
    .second-pera{
        margin-top: 10px;
    }
    .copy-right {
        padding: 15px;
    }
}